{% extends 'admin/general.html' %}

{% block body %}
    <div style="border: 1px solid lightgray">
        <h3 class="p-2">Thay đổi mật khẩu</h3>
        <div class="row d-flex justify-content-center pt-4">
            <div>
                <form class="container change-pass" id="form-new-pass" method="POST" action="/admin/submit-change-pass">
                    <h5 class="pr-3 row justify-content-left" style="display: inline-block">Nhập mật khẩu cũ</h5>
                    <div class="d-flex flex-md-row">
                        <input class="pass-show ml-2 row justify-content-left mt-1 mb-2 col-md-9" id="old-pass" type="password" name="old-pass"
                               style='text-align: center !important;' onchange="CheckOldPass()" required/>
                        <img id="old-pass-check" class="status-true-false col-md-2 ml-2" src="{{ url_for('static', filename='images/none.ico') }}" width="64px"/>
                    </div>
                    <h5 class="pr-3 row justify-content-left" class="pr-5" style="display: inline-block">Nhập mật khẩu mới</h5>
                    <div class="d-flex flex-md-row">
                        <input class="pass-show ml-2 row justify-content-left mt-1 mb-2 col-md-9" id="new-pass"
                               name="new-pass" type="password" style="text-align: center !important;"
                               onchange="CheckTheSamePassword(); AllowForContinue();" required/>
                        <img class="status-true-false col-md-2 ml-2" src="{{ url_for('static', filename='images/none.ico') }}" width="64px"/>
                    </div>
                    <h5 class="pr-3 row justify-content-left" class="pr-5" style="display: inline-block">Nhập lại mật khẩu mới</h5>
                     <div class="d-flex flex-md-row">
                       <input class="pass-show ml-2 row justify-content-left mt-1 mb-2 col-md-9" id="new-pass-again"
                              name="new-pass-again" type="password" style="text-align: center !important;"
                              onchange="CheckTheSamePassword(); AllowForContinue();" required/>
                        <img id="again-pass-check" class="status-true-false col-md-2 ml-2" src="{{ url_for('static', filename='images/none.ico') }}" width="50%"/>
                    </div>

                     <span id="checkpass" onclick="PassToText()">
                        <input id="check-pass" type="checkbox">
                        <label for="check-pass">Hiển thị mật khẩu</label>
                    </span>
                    <div class='pb-3' style="padding: 5px 0; display: flex; justify-content: flex-end;">
                       <button class="row" id="open-submit"
                               type="button"  class="btn btn-primary" data-toggle=""
                               data-target="#myModal">Lưu thay đổi</button>
                        <!-- The Modal -->
                        <div class="modal" id="myModal">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                      <h4 class="modal-title">Xác nhận đổi mật khẩu</h4>
                                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <label class="font-weight-bold" for="username-confirm">Nhập username để xác nhận</label>
                                        <input id="username-confirm" name="username" type="text" required/>
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-danger" data-dismiss="modal"
                                              onclick="window.location.replace('{{ url_for('accountset.__index__') }}');">
                                                Hủy bỏ</button>
                                      <button type="button" onclick="FormSubmit()" class="btn btn-success">
                                          Xác nhận</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        //Chặn phím Enter trên form
        document.addEventListener('keypress', function (e) {
            if (e.keyCode === 13 || e.which === 13) {
                e.preventDefault();
                return false;
            }
        });
        //Hiện mật khẩu
        function PassToText() {
            if (document.getElementById('check-pass').checked)
            {
                var all = document.getElementsByClassName('pass-show');
                for (var i = 0; i < all.length; i++)
                    {
                        all[i].setAttribute("type", "text");
                    }
            }
            else {
                var all = document.getElementsByClassName('pass-show');
                for (var i = 0; i < all.length; i++)
                    {
                        all[i].setAttribute("type", "password");
                    }
            }
        }
        function AllowForContinue() {
            if (CheckOldPass() && CheckTheSamePassword()) {
                document.getElementById('open-submit').setAttribute('data-toggle', 'modal');
            }
            else {
                document.getElementById('open-submit').setAttribute('data-toggle', '');
            }
        }
        //Check mật khẩu cũ
        function CheckOldPass() {
            oldPass = document.getElementById('old-pass').value;
            if (CryptoJS.MD5(oldPass).toString() == '{{ current_password }}') {
                document.getElementById('old-pass-check').setAttribute('src', '{{ url_for('static'
                , filename='images/true.ico') }}');
                return true;
            }
            else {
                document.getElementById('old-pass-check').setAttribute('src', '{{ url_for('static'
                , filename='images/false.ico') }}');
                return false;
            }
        }
        //Check mật khẩu mới có trùng khớp
        function CheckTheSamePassword() {
            nwPass = document.getElementById('new-pass').value;
            nwPassAgain = document.getElementById('new-pass-again').value;
            if (nwPass != nwPassAgain) {
                document.getElementById('again-pass-check').setAttribute('src', '{{ url_for('static'
                , filename='images/false.ico') }}');
                return false;
            }
            else {
                document.getElementById('again-pass-check').setAttribute('src', '{{ url_for('static'
                , filename='images/true.ico') }}');
                return true;
            }
        }
        //Submit
        function FormSubmit() {
            document.getElementById('form-new-pass').submit();
        }
    </script>
{% endblock %}